<div class="jumbotron" data-ng-init="vm.getAgendaForUser()">
  <h2>AGENDAR</h2>
  <i class="fa fa-arrow-down fa-4x" aria-hidden="true"></i>
</div>

  <div class="jumbotron btn btn-primary btn-lg btn-block" ng-click="vm.gotoRegisterByRoom()">
    <h3>POR SALA</h3>
    <i class="fa fa-list-alt fa-4x" aria-hidden="true"></i>
  </div>

  <div class="jumbotron btn btn-primary btn-lg btn-block" ng-click="vm.gotoRegisterByHour()">
    <h3>POR DATA</h3>
    <i class="fa fa-calendar-check-o fa-4x" aria-hidden="true"></i>
  </div>
