<div class="panel panel-default" data-ng-init="vm.loadAgendaInfo(vm.state.params.agendaID)">
	<div class="panel-heading">
		<div class="text-center">
			{{"detalhes do agendamento" | uppercase}}
		</div>
	</div>
	
	<div class="panel-body">
		<div class="panel actual-step" style="border: 2px solid black">

			<div class="blockForstep">
				<!-- ROOM WHICH IS FIXED -->
				<div class="panel-body text-center step-component">
					<a class="btn btn-default actual-step disabled " ng-show="true">
						<i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> {{"RESPONSAVEL " + vm.agendaDetails.responsable | uppercase}}
					</a>
				</div>
			</div>
			<div class="blockForstep">
				<!-- ROOM WHICH IS FIXED -->
				<div class="panel-body text-center step-component">
					<a class="btn btn-default actual-step disabled " ng-show="true">
						<i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> {{"SALA " + vm.agendaRoom.name + " [" +vm.agendaRoom.location +"]" | uppercase}}
					</a>
				</div>
			</div>
			<div class="blockForstep">
				<!-- ROOM WHICH IS FIXED -->
				<div class="panel-body text-center step-component">
					<a class="btn btn-default actual-step disabled " ng-show="true">
						<i class="fa fa-calendar fa-lg" aria-hidden="true"></i> {{vm.agendaDetails.date | date : format : timezone}}
					</a>
				</div>
			</div>
			<div class="blockForstep">
				<!-- ROOM WHICH IS FIXED -->
				<div class="panel-body text-center step-component">
					<a class="btn btn-default actual-step disabled " ng-show="true">
						<i class="fa fa-clock-o fa-lg" aria-hidden="true"></i> {{"INICIO " + vm.agendaDetails.initTime + "h" | uppercase}}
					</a>
				</div>
			</div>
			<div class="blockForstep">
				<!-- ROOM WHICH IS FIXED -->
				<div class="panel-body text-center step-component actual-step">
					<a class="btn btn-default actual-step disabled " ng-show="true">
						<i class="fa fa-times-circle-o fa-lg" aria-hidden="true"></i> {{"FIM " + vm.agendaDetails.endTime + "h" | uppercase}}
					</a>
				</div>
			</div>
			<div class="panel-body text-center">
				<!--DETALHES SECTION-->
				<div class="panel-body">
					<div class="form-group step-component">
						<label class="control-label" for="inputLarge"><h5>ASSUNTO</h5></label>
						<input class="form-control input-lg text-center" type="text" id="inputLarge" value="{{vm.agendaDetails.subject}}" disabled>
					</div>
					<div class="form-group">
						<label class="control-label" for="inputLarge"><h5>DESCRIÇÃO</h5></label>
						<textarea class="form-control text-center" rows="3" disabled>{{vm.agendaDetails.description}}</textarea>
					</div>
					<div class="form-group">
						<label class="control-label" for="inputLarge"><h5>PROPOSITO</h5></label>
						<textarea class="form-control text-center" rows="1" disabled>{{vm.agendaDetails.type}}</textarea>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="panel panel-footer">
		<div class="panel-body text-center btn-primary btn-block" ng-click="vm.backToMain()">
			<a class="btn text-black disabled">
				<i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i> {{"VOLTAR PARA A PAGINA INICIAL" | uppercase}}
			</a>
		</div>
	</div>
</div>
