<div class="center-block mt-xl wd-xl" data-ng-init="vm.loadEssentialData()">
    <div class="panel panel-inverse">
        <div class="panel-heading text-center">
            <h4>CONFIGURAÇÕES DO SISTEMA</h4>
        </div>
        <div class="panel-body">
            <div class="btn-group btn-group-justified single-item">
                <a class="btn btn-success btn-block" ng-click="vm.setMine = true">
                    <i class="fa fa-cube fa-lg" aria-hidden="true"></i> CONFIGURAR VARIAVEIS DO SISTEMA
                </a>
            </div>
        </div>
        <div class="panel-body">
            <div class="btn-group btn-group-justified single-item">
                <a class="btn btn-success btn-block" ng-click="vm.setMine = false">
                    <i class="fa fa-diamond fa-lg" aria-hidden="true"></i> CONFIGURAR APARELHO SLAVE
                </a>
            </div>
        </div>
        <div class="panel-body">
            <div class="btn-group btn-group-justified single-item">
                <a class="btn btn-success btn-block" ng-click="vm.gotoReports()">
                    <i class="fa fa-cube fa-lg" aria-hidden="true"></i> EXTRAÇÃO DE RELATÓRIOS
                </a>
            </div>
        </div>
    </div>
</div>