
<div class="jumbotron btn btn-primary btn-lg btn-block" ng-click="vm.gotoAgendaList()">
  <h3>Meus Agendamentos</h3>
  <i class="fa fa-list-alt fa-4x" aria-hidden="true"></i>
</div>

<div class="jumbotron btn btn-primary btn-lg btn-block" ng-click="vm.gotoAgendaTypes()">
  <h3>Agendar</h3>
  <i class="fa fa-calendar-check-o fa-4x" aria-hidden="true"></i>
</div>

<div class="jumbotron btn btn-primary btn-lg btn-block" ng-click="vm.gotoRemanejaList()">
  <h3>Remanejamentos</h3>
  <i class="fa fa-exchange fa-4x" aria-hidden="true"></i>
</div>