<div class="panel-heading text-center" data-ng-init="vm.loadUniqueRemaneja(vm.state.params.id)">
    <h5>INFORMAÇÕES DO REMANEJAMENTO</h5>
</div>
<div class="panel panel-inverse single-item">
    <div class="panel-body">
        <h5 class="text-center">SOLICITANTE: {{vm.rem.target | uppercase}}</h5>
        <br>


        
        <div class="blockForstep">
            <div class="panel-heading text-center">
                <h5>ASSUNTO DO AGENDAMENTO</h5>
            </div>

            <div class="panel-body text-center single-item">
                <a class="btn disabled text-black" >
                    <i class="fa fa-book fa-lg" aria-hidden="true"></i> {{vm.loadedAgenda.subject | uppercase}}
                </a>
            </div>
        </div>

        <div class="blockForstep">
            <div class="panel-heading text-center">
                <h5>QUANDO</h5>
            </div>

            <div class="panel-body text-center single-item">
            <a class="btn disabled text-black" >
            <i class="fa fa-book fa-lg" aria-hidden="true"></i> {{vm.loadedAgenda.date | date : format : timezone}}, das {{vm.loadedAgenda.initTime + "h"}} às {{vm.loadedAgenda.endTime + "h"}}
            </a>
            </div>
        </div>

        <div class="blockForstep">
            <div class="panel-heading text-center">
                <h5>RESPONSAVEL PELO AGENDAMENTO</h5>
            </div>

            <div class="panel-body text-center single-item">
                <a class="btn disabled text-black" >
                    <i class="fa fa-book fa-lg" aria-hidden="true"></i> {{vm.loadedAgenda.responsable | uppercase}}
                </a>
            </div>
        </div>

        <br>
        <div class="blockForstep">
            <div class="panel-body text-center single-item btn-primary" ng-click="vm.goToAgenda()">
                <a class="btn disabled text-black">
                    <i class="fa fa-check fa-lg" aria-hidden="true"></i> MAIS INFORMAÇÕES DO AGENDAMENTO
                </a>
            </div>
        </div>


    </div>
</div>