<div class="center-block mt-xl wd-xl">
    <div class="panel panel-inverse">
        <div class="panel-heading text-center">
            <h4>REMANEJAMENTOS SOLICITADOS</h4>
        </div>
        <div class="panel-body ">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-success btn-block " ng-click="vm.setMine = true">
                    <i class="fa fa-diamond fa-lg" aria-hidden="true"></i> POR MIM
                </a>
                <a class="btn btn-success btn-block " ng-click="vm.setMine = false">
                    <i class="fa fa-cube fa-lg" aria-hidden="true"></i> PARA MIM
                </a>
            </div>
        </div>
    </div>
</div>

<!-- REMANEJAMENTOS FEITOS PELO USER -->
<div class="panel panel-inverse" ng-show="vm.setMine">
    <div class="panel-heading text-center">
        <h5>REMANEJAMENTOS SOLICITADOS POR MIM</h5>
    </div>
    <div class="panel-body " ng-repeat="i in vm.forMe">
        <h4 class="text-center">Responsavel pelo agendamento: {{i.owner | uppercase}}</h4>
        <h5 class="text-right">{{}}</h5>
        <br>
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default btn-block disabled" ng-show="vm.isWaiting(i)">
                <i class="fa fa-loading fa-lg" aria-hidden="true"></i> Resposta Pendente
            </a>
            <a class="btn btn-success btn-block disabled" ng-show="vm.getResp(i)"><!-- Should return true or false-->
                <i class="fa fa-check fa-lg" aria-hidden="true"></i> Remanejamento Aceitado
            </a>
            <a class="btn btn-danger btn-block disabled" ng-hide="vm.getResp(i)">
                <i class="fa fa-cancel fa-lg" aria-hidden="true"></i> Remanejamento Recusado
            </a>
        </div>
    </div>
</div>

<!-- REMANEJAMENTOS FEITOS PARA O USER -->
<div class="panel panel-inverse" ng-hide="vm.setMine">
    <div class="panel-heading text-center">
        <h5>MINHAS RESPOSTAS PENDENTES</h5>
    </div>
    <div class="panel-body " ng-repeat="i in vm.toMe">
        <h4 class="text-center">Solicitante do Remanejamento: {{i.target | uppercase}}</h4>
        <br>
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default btn-block " ng-click="vm.doAccept()">
                <i class="fa fa-warning fa-lg" aria-hidden="true"></i> Informações
            </a>
        </div>
        <div class="btn-group btn-group-justified">
            <a class="btn btn-success btn-block " ng-click="vm.doAccept()">
                <i class="fa fa-like fa-lg" aria-hidden="true"></i> Aceitar
            </a>
            <a class="btn btn-danger btn-block " ng-click="vm.doReject()">
                <i class="fa fa-cancel fa-lg" aria-hidden="true"></i> Recusar
            </a>
        </div>
    </div>
</div>