<div class="panel" data-ng-init="getRoomList()">
  <div class="panel-heading"><div class="text-center">
	  {{"Selecione uma sala para fazer um agendamento" | uppercase}}
  </div></div>
  <div class="panel-body">
		<div class="panel panel-primary" ng-repeat="room in vm.roomList" ng-show="room.active" style="border: 2px solid black">
			<div class="panel-heading col-lg-12" style="border-bottom: 2px solid black">
				<div class="text-center">
					{{"SALA PARA "+ room.typeClass + ", " + room.name | uppercase}}
				</div>
			</div>
			<div class="panel-body" class="text-center">
				<div class="panel-body">
				</div>
				<p>Localizada em {{room.location}}</p>
				Com capacidade maxima de {{room.size | lowercase}} pessoas, esta sala possuí {{room.description | lowercase}}
			</div>
			<a ng-click="startAgendaProcess(room.name, room.location)" class="btn btn-success btn-block" style="border-top: 2px solid black">
				Agendar Horario
			</a>
		</div>
  </div>
	<div ng-click="vm.backToMain()">
		<a class="btn btn-primary btn-lg btn-block">
			<i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i> {{"VOLTAR" | uppercase}}
		</a>
	</div>
</div>
