<div class="jumbotron" data-ng-init="vm.startSlavery(vm.state.params.room)" ng-class="!vm.canShowAgendaInfo() ? 'not-occupied' : 'occupied'">
        <div class="panel-heading text-center" ng-show="vm.isLoading">
            <h1>CARREGANDO <i class="fa fa-hourglass fa-spin fa-1x" aria-hidden="true"></i></h4>
        </div>

        <div class="panel-body text-center" ng-hide="vm.isLoading">
            <h2>{{"sala " + vm.reflectedRoom.name + " [" + vm.roomState + "]"| uppercase}}</h2>
            <br>
            <br>
            <h4>{{"PROXIMO AGENDAMENTO EM"}}</h4>
            <h1 id="countdown">CARREGANDO <i class="fa fa-hourglass fa-spin fa-1x" aria-hidden="true"></i></h1>
        </div>
        <div class="panel-body text-left" ng-show="vm.canShowAgendaInfo()">
            <h3 class="text-center">FICHA TECNICA DO AGENDAMENTO</h3>
            <div class="text-center">
            <i class="fa fa-arrow-down fa-4x" aria-hidden="true"></i>
            </div>
            <br>
            <h4>{{vm.reflectedAgenda.type | uppercase}}</h4>
            <h4>{{"agendado por " + vm.reflectedUser.name | uppercase}}</h4>
            <h4>{{"assunto: " + vm.reflectedAgenda.subject | uppercase}}</h4>
            <h6>{{"descrição: " + vm.reflectedAgenda.description | uppercase}}</h6>
            <h4>{{"começou as " + vm.reflectedAgenda.initTime +"h" | uppercase}}</h4>
            <h4>{{"termina as " + vm.reflectedAgenda.endTime +"h" | uppercase}}</h4>
        </div>
        <div class="panel-body text-left" ng-show="vm.canShowAgendaInfo()">
            <h3 class="text-center">PARTICIPANTES</h3>
            <br>
            <div class="text-center">
                <table class="table table-striped table-hover" style="border:1px solid #666">
                    <tr data-ng-repeat="item in vm.guestList track by $index">
                        <td>{{item.guest}}</td>
                        <td ng-show="item.accepted">CONFIRMADO</td>
                        <td ng-hide="item.accepted">NÃO CONFIRMADO</td>
                    </tr>
                </table>
            </div>
        </div>
</div>

