<p>Olá! Gostariamos de informar que você foi convidado para uma reunião através do easymeet.</p>
<p>Para confirmar o comparecimento à reunião, ou cancelar seu comparecimento basta acessar <%=Page%></p>
<br/>
<p>Atenciosamente, grupo easymeet</p>